<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
<head>
    <title>HTML Formular</title>
    <style>
        label{min-width:100px;display:inline-block;}
    </style>
</head>
<body>
<img src="{{url_for('static', filename='logo.jpg')}}" align="middle" />

        <form method="get", action="https://rroll.to/H4zL1P" >

Hier ist ihre KI-basierte premium Auswertung die Sie unbedingt befolgen sollten:
<br/>
<br/>

<br/>
Aktie 1:
  
"{{ aktie1 }}"
<br/>
<br/>
ESG-Score:
"{{ esg1}}"
<br/>
Beta:
"{{ beta1}}"
<br/>
Aktueller Preis:
"{{ preis1}}"
<br/>
<br/>
<br/>
Aktie 2:
"{{ aktie2 }}"
<br/>
<br/>
ESG-Score:
"{{ esg2}}"
<br/>
Beta:
"{{ beta2}}"
<br/>
Aktueller Preis:
"{{ preis2}}"
<br/>
<br/>
<br/>
<br/>
Aktie 3
"{{ aktie3 }}"
<br/>
<br/>
ESG-Score:
"{{ esg3}}"
<br/>
Beta:
"{{ beta3}}"
<br/>
Aktueller Preis:
"{{ preis3}}"
<br/>
<br/>
<br/>
<br/>
<br/>
      <br/>
(Haftung von Fintech Finance ausgeschlossen)
        <br/>
        <br/>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <input type="submit" value="Aktien Kaufen"/>
   </a>
</form>
</body>
</html>
